/*
 * Custom District SASS styles
 * -------------------------------
 */

/* VARIABLES */

.section-divider {
    height: 0;
    border-top: 1px solid #DDD;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.section-divider span {
    display: inline-block;
    position: relative;
    padding: 0 17px;
    background: #fff;
    color: #116787;
    top: -11px;
    font-size: 15px;
}
.no-decoration{
  text-decoration: none !important;
}

.no-decoraation:hover{
  text-decoration: none !important;
}

$primary-color: #373A3F;
$danger-color: #df5640;
$sidebar-bg-color: #dddddd;
$white: #fff;
$nav-link-hover-bg:#fff;
$nav-link:#01B26E;
/* GENERAL */

// Action links that only consist of an icon (no surrounding button element)
.icon-action-link {
  color: #999;

  &:hover {
    color: #666;
  }
}

.danger-link {
  &:hover {
    color: $danger-color;
  }
  &:active, &:focus {
    color:#999;
  }
}


.no-padding{
  padding: 0px !important;
}

.bootstrap-select.btn-group .dropdown-menu {
        z-index: 20000;
}

.dropdown-header{
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
body {
  min-height: inherit;
}
.navbar{
      background-color:$primary-color;

    }

.name{
  color:#f5f5f5 !important;
}
.name:hover{
  color:#000 !important;
}
.name:focus{
  color:#000 !important;
}
.nav-menu:hover{
  background-color: $nav-link !important;
}
#toggle_sidemenu_l{
  color: $white;
}
// Action links that only consist of an icon (no surrounding button element)
.icon-action-link {
  color: #999;

  &:hover {
    color: #666;
  }
}

.danger-link {
  &:hover {
    color: $danger-color;
  }
  &:active, &:focus {
    color:#999;
  }
}


/* NAVBAR */

.navbar-branding {
  .navbar-brand {
    background-image: url('/assets/logo_na_estrada_Admin.png');
    background-repeat: no-repeat;
    background-position: left center;
    margin-left: 18px;
    padding-left: 0;
    width: 170px;
  }
}

.logout-btn {
  &:hover, &:active, &:focus {
    text-decoration: none;
    background-color: #FFFEF0;
  }
}

/* SIDEBAR */

.sidebar-menu {
  .sidebar-title {
    font-weight: 600;
  }
}
.side-bar-fix {
    position: fixed !important;
}
/* SIDEBAR */

// Open, minified and closed sidebar
body.sb-l-o, body.sb-l-m, body.sb-l-c {
  #sidebar_left {
    //color: #666;
    //background-color: $sidebar-bg-color;

    .sidebar-menu {
      // menu-item
      li > a > span.sidebar-title {
        font-weight: 600;
      }
      li > a:hover {
        background: #eee;
        color: $primary-color !important;
      }
      // active menu-item
      li.active > a > span:nth-child(1),
      li.active > a > span.sidebar-title,
      ul.sub-nav > li.active > a {
        color: $primary-color;
      }

      // sub-menu-item
      li > ul {

      }
    }
  }
}

// Minified sidebar
body.sb-l-m {
  #sidebar_left.sidebar-fix {
    position: fixed;

    .sidebar-menu ul.sub-nav {
      .badge {
        display: none;
      }
    }
  }
}

/* FORMS */

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #eee;
  color: #999;
}

/* TABLES */

.table {
  margin-top: 6px;

  thead tr {
    border-bottom: #ccc;
  }

  td.table-empty, td.table-empty:hover {
    background: #fff;
    padding: 25px;
  }

  // Give table rows with a data-href attribute a mouse pointer on hover
  tbody tr[data-href] {
    cursor: pointer;
  }
}

// Truncate text to fit table column
.truncate-text {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; // truncate text on overflow
}

/* DATATABLES */

table.dataTable {
  // Empty datatable
  td.dataTables_empty, th.sorting_disabled {
    background: #fff !important;
  }

  tbody tr {
    &:hover {
      cursor: pointer; // Show click hand on hover row in DataTable
    }
  }
}

// Processing message
div.dataTables_processing {

}

/* MODALS */
.popup-large {
  max-width: 850px;
}


.navbar .nav > li > a {
    color: #fff;
}

#flipkart-navbar {
    background-color: #2874f0;
    color: #FFFFFF;
}

.row1{
    padding-top: 10px;
}

.row2 {
    padding-bottom: 20px;
}

.flipkart-navbar-input {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
}

.flipkart-navbar-button {
    background-color: #ffe11b;
    border: 1px solid #ffe11b;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
}

.cart-button {
    background-color: #2469d9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    width: 120px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

.cart-button:hover{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.cart-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
}

.item-number {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
    height: 20px;
    padding: 3px 6px;
    font-weight: 500;
    display: inline-block;
    color: #fff;
    line-height: 12px;
    margin-left: 10px;
}

.upper-links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    color: inherit;
    border: none;
    outline: none;
    font-size: 12px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}

.dropdown:hover {
    background-color: #fff;
}

.dropdown:hover .links {
    color: #000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #fff;
    color: #333;
    left: 0px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px -3px #555454;
    margin: 0;
    padding: 0px;
}

.links {
    color: #fff;
    text-decoration: none;
}

.links:hover {
    color: #fff;
    text-decoration: none;
}

.profile-links {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    display: block;
    padding: 0 11px;
    line-height: 23px;
}

.profile-li{
    padding-top: 2px;
}

.largenav {
    display: none;
}

.smallnav{
    display: block;
}

.smallsearch{
    margin-left: 15px;
    margin-top: 15px;
}

.menu{
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .largenav {
        display: block;
    }
    .smallnav{
        display: none;
    }
    .smallsearch{
        margin: 0px;
    }
}

/*Sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 4px 8px -3px #555454;
    padding-top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;        
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}

.sidenav-heading{
    font-size: 36px;
    color: #fff;
}