<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
 <title>RI</title>
  <meta name="keywords" content="RI" />
  <meta name="description" content="RI">
  <meta name="author" content="LP">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "#{controller_name}", media: 'all' %>


  <!-- Font CSS (Via CDN) -->
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <!-- Application CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Google Maps API with Places API library included (for autocompletion of addresses when creating new orders) -->
  <script src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/favicon.ico"> 
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

  <!-- Page-specific JS -->
  <%= yield(:page_js_head) %>

</head>

<body class="sb-l-o <%= controller_name %> <%= action_name %> <%= yield(:extra_body_class) %>"
      data-no-turbolink="true">

<!-------------------------------------------------------------+
  <body> Helper Classes:
---------------------------------------------------------------+
  '.sb-l-o' - Sets Left Sidebar to "open"
  '.sb-l-m' - Sets Left Sidebar to "minified"
  '.sb-l-c' - Sets Left Sidebar to "closed"

  '.sb-r-o' - Sets Right Sidebar to "open"
  '.sb-r-c' - Sets Right Sidebar to "closed"
---------------------------------------------------------------+
 Example: <body class="example-page sb-l-o sb-r-c">
 Results: Sidebar left Open, Sidebar right Closed
--------------------------------------------------------------->

<!-- Start: Main -->

<div id="main">
  
  <!-- Start: Header -->
  
  <!-- End: Header -->

  <!-- Start: Sidebar -->
  
  <!-- End: Sidebar -->

  <!-- Start: Content wrapper -->
  <section id="content_wrapper">

    <% if content_for?(:topbar_left) %>
    <!-- Start: Topbar -->
    <header id="topbar" class="alt">
      <div class="topbar-left">
        <%= yield(:topbar_left) %>
      </div>
      <div class="topbar-right">
        <%= yield(:topbar_right) %>
      </div>
    </header>
    <!-- End: Topbar -->
    <% end %>

    <!-- Start: Page content -->
    <section id="content">
      
      <%= yield %>
    </section>
    <!-- End: Page content -->

  </section>
  <!-- End: Content wrapper -->

</div>
<!-- Application JS -->

<%= javascript_include_tag "#{controller_name}" %>
<!-- Page-specific JS -->
<%= yield(:page_js_body) %>

</body>

</html>
